{{#each product as |product|}}
  <section data-id="{{product.id}}" class="product-log" >
    <div class="card-deck">
        <div class="card" style="width:600px">
          <div class="card-body">
    <h6>Date:</h6>
    <p>
      {{limit product.date 10}}
    <p>
      <h7>Unit:</h7>
      <p>
          {{product.unit}}
      </p>
      <p>
      <h7>Quantity</h7>
          {{product.quantity}}
      </p>
    <div class="emoji-toggle emoji-vote">
      <input type="checkbox" id="toggle4" class="toggle">
      <div class="emoji"></div>
      <label for="toggle4" class="well"></label>
    </div>
  </div>
</div>
</div>
  </section>

{{/each}}
